.flexContainer{
    flex-direction: row-reverse;
    display: inline-flex;
    gap: 20px;
    right: 0;
    align-items: center;
    justify-content: center;
    
}
.mySkills{
    width: 1500px;
    float: right;
}
div.flexContainer{
    flex: 1;
    flex-wrap: wrap;
}
#cogIcon{
    height: 128px;
}


