.flexContainer{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}

div.flexContainer{
    flex: 1;
    flex-wrap: wrap;
}
#cogIcon{
    height: 128px;
}


