.workGrid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "title title"
    "image information"
    "image information"
    "button button";
    row-gap: 5%;
}

.myWork{
    width: 75%;
    float: right;
}
#projTitle{
    grid-column: 1/3;
}
#viewButtom{
    grid-column: 1/3;
}
.workGrid>.projImg{ 
    width: 200px;
    display: flex;
    align-items: center;
}


