.workGrid{
    display: grid;
    grid-template-areas: "area1 area2" "area3 area4";
    grid-template-rows: auto;
    grid-template-columns: auto;
    column-gap: 5%;
}

.myWork{
    width: 84%;
    float: right;
}
#projTitle{
    grid-area: area1;
}
#MM {
    width: 200px;
}
#chum{
    width: 200px;
}
