.workGrid{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5%;
}

.myWork{
    width: 75%;
    float: right;
}
#projTitle{
    grid-column: 1/3;
}
#MM {
    width: 200px;
}
#chum{
    width: 200px;
}
